body {
    margin: 0;
    font-family: Helvetica;
    background: #333;
    color: #EEE;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: cornflowerblue;
    text-align: center;
    line-height: 2em;
    font-size: 1.5rem;
}
header #subsBtn {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: xxx-large;
    display: inline-block;
    padding: 0 1em;
    background-color: #ffffff;
    border-radius: .2em;
    line-height: 1em;
}
header #subsBtn:hover {
    cursor: pointer;
    background-color: #ffffff66;
}
#subsBtn img {
    height: .7em;
    margin: 0;
    padding: 0;
}

header #logoutLink {
    position: absolute;
    right: 1em;
    top: 0;
}
header #logoutLink a{
    color: inherit;
}

#background{
    margin-bottom: 12em;
}

.podcast {
    padding: .5em 1em;
    border: 1px solid #555;
    border-radius: .2em;
    margin: .5em;
}
.podcast.adder {
    padding: 0;
}
.podcast.adder:hover {
    cursor: default;
    background: transparent;
}
.podcast button {
/*     position: relative; */
    float: right;
    background: transparent;
    color: inherit;
    border: 0;
    border-left: 1px solid #444;
    line-height: 3em;
    margin: auto;
    width: 2rem;
}
.podcast button:hover {
    background: #ffffff33;
    cursor: pointer;
}
.podcast input {
    width: calc(100% - 3rem);
    font-size: 2em;
}
.podcast:hover{
    cursor: pointer;
    background-color: #ffffff33;
}
.episode:hover {
    cursor: grab;
}
.podLogo {
    display: inline-block;
    width: 25px;
    height: 25px;
}

#playlist {
    background-color: #EEE;
    margin: 3px 1em 0;
    border-radius: .5em .5em 0 0;
    box-shadow: black 1px 3px 10px;
    overflow: hidden;
    position: relative;
    z-index: -1;
    transition-property: transform, height;
    transition-duration: .5s;
    min-height: 3rem;
}
#playlist.hidden {
    transform: translateY(calc(100% - 1em));
}
#playlist .container{
    max-height: 16em;
    overflow: auto;
}
.track {
    padding: .5em 1em;
/*     text-transform: uppercase; */
    font-size: 1em;
}
.track:nth-of-type(even) {
    background-color: #DDD;
}
.track:hover{
    background-color: #00000044;
    cursor: pointer;
}
.track .subtitle {
    margin-left: .5em;
    color: #777;
    font-size: .6em;
    font-style: italic;
    text-transform: none;
}
#docker {
    background-color: cornflowerblue;
    text-align: center;
    height: 1em;
}
#docker:hover {
    cursor: pointer;
}

#player {
    z-index: 0;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#controls {
    background-color: #444;
    color: white;
    width: 100%;
}
#progressbar {
    width: 100%;
    height: 5px;
    background: #555;
}
#progress {
    height: 100%;
    width: 40%;
    background: cornflowerblue;
}
#buttons {
    display: flex;
    justify-content: center;
}
#buttons button{
    background-color: cornflowerblue;
    font-size: 1.5em;
    color: inherit;
    margin: .1em 2px;
    text-align: center;
    padding: .2em;
    width: 20%;
    border: 0;
    border-radius: 1em;
    min-width: 1.75em;
}
#buttons button:hover {
    cursor: pointer;
    background-color: #6087d1;
}
#title{
    text-align: center;
    padding: .2em 0;
}
#timer {
    text-align: center;
    padding: .2em 0;
}
#volumecontrol {
    position: absolute;
    right: 1em;
    bottom: .1em;
}

#bin {
    position: fixed;
    top: 3em;
    left: -100%;
    background-color: red;
    color: white;
    font-size: 3em;
    width: 2em;
    box-shadow: red 0px 0px .5em;
    border-radius: 0 .5em .5em 0;
    transition: left .5s;
}